.main-sobre-mim {
    margin: 0 5% 0 5%;
}

.main-sobre-mim-texto {
    text-align: center;
    color: #131829;
    display: inline-block;
    vertical-align: 200%;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 130%;
}

.main-minha-imagem {
    width: 20%;
    border-radius: 100%;
}

.main-minha-imagem-sobre-mim {
    position: relative;
    width: 20%;
    border-radius: 100%;
    left: 40%;
}

.main-certificados-lista {
    width: 90%;
    margin: 6% auto;
    text-align: center;
}

.main-certificados-lista-item {
    color: #D8D6D5;
    display: inline-block;
    width: 30%;
    font-size: 150%;
    font-weight: bold;
    background: #131829;
    padding: 2.5% 0;
    margin: 0 0.55%;
    border-radius: 100%;
    box-sizing: border-box;
    transition: 750ms background-color;
    cursor: pointer;
}

.main-certificados-lista-item-front:hover {
    background: #E32536;
} 

.main-certificados-lista-item-data:hover {
    background: #108D2C;
}

.main-certificados-lista-item-outros:hover {
    background: #242A8B;
}

.main-certificados-lista-item-link:link {
    color: #D8D6D5;
}

.main-certificados-lista-item-link:visited {
    color: #D8D6D5;
}

.main-contatos-lista-imagem {
    margin: 0 5% 0 5%;
}

.main-contatos-lista {
    color: #131829;
    display: inline-block;
    vertical-align: 200%;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 130%;
}

.main-contatos-lista-link:link {
    color: #131829;
}

.main-contatos-lista-link:visited {
    color: #131829;
}

.main-contatos-lista-itens {
    margin-bottom: 0.75%;
}

.main-contatos-lista-frase {
    margin-top: 3%;
    font-weight: bold;
    font-style: italic;
}

@media screen and (max-width: 1024px) {
    .main-contatos-lista {
        display: block;
    }

    .main-minha-imagem {
        margin-top: 5%;
        position: relative;
        left: 40%;
    }
}

@media screen and (max-width: 768px) {

    .main-certificados-lista-item-front {
        background: #ca3743;
    } 
    
    .main-certificados-lista-item-data {
        background: #259e3f;
    }
    
    .main-certificados-lista-item-outros {
        background: #1e227e;
    }
}

@media screen and (max-width: 560px) {

}