/* Color Theme Swatches in Hex */
.dark-blues-1-hex { color: #4A4C57; }
.dark-blues-2-hex { color: #131829; }
.dark-blues-3-hex { color: #242A8B; }
.dark-blues-4-hex { color: #D8D6D5; }
.dark-blues-5-hex { color: #BFBEBC; }

.body {
    background-color: #BFBEBC;
    font-family: 'Montserrat', sans-serif;
}

.titulo-secao {
    color: #242A8B;
    text-align: center;
    font-weight: bold;
    font-size: 250%;
    margin: 3%;
}