.convite-parceria {
    padding: 5% 0;
    background-color: #BD4848;
    color: #EEEEEEE0;
}

.convite-parceria h2 {
    text-align: center;
    font-size: 250%;
}

.convite-parceria img {
    display: inline-block;
    margin: 0 25%;
}

.convite-parceria button {
    display: inline-block;
    margin: 0 30%;
    width: 20em;
    height: 2.5em;
    font-size: 150%;
    font-weight: bold;
    background-color: #E8CD1ED0;
    color: #EEEEEE;
    transition: 750ms background-color;
    cursor: pointer;
}

.convite-parceria button:hover {
    background-color: #BD4848;
}