body {
    font-family: "Open Sans", sans-serif;
    padding: 0 16px;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: "Proza Libre", sans-serif;
    margin: 0;
    margin-bottom: 12px;
}

nav {
    display: flex;
    align-items: center;
    padding: 16px 0;
}

#logo {
    margin: 0;
}

.navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
}

.navigation-item {
    margin: 8px;
}

a {
    color: #323232;
    text-decoration: none;
    font-weight: 600;
}

section {
    padding: 16px 0;
}

.about-me-container {
    display: flex;
}

.about-me-container img {
    width: 200px;
    border-radius: 12px;
    flex-shrink: 0;
}

.about-me-text-container {
    margin-right: 16px;
}

summary {
    list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
}

.project-title h3 {
    display: inline;
}

figure {
    width: 400px;
    margin: 0;
}

#bot-img {
    width: 100%;
}